:root {
    --corDeFundo: #110958;
    --corDaLetra: #fff;
    --corDeDestaque: #f77825;
    --estiloDaFonte: Sans-serif, Verdana, Tahoma;
}

#corpo {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

#cabecalho {
    background-color: var(--corDeFundo);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#h1DoCabecalho {
    color: var(--corDaLetra);
    font-family: Impact;
    font-size: 32px;
    text-decoration: none;
}

#navDoCabecalho {
    display: flex;
    align-items: flex-end;
}

#ulDoNavDocabecalho {
    list-style: none;
    display: flex;
}

/*.lisDoUlDoNavDoCabecalho {

}*/

.asDosLisdoUlDoNavDoCabecalho {
    color: var(--corDaLetra);
    text-decoration: none;
    font-family: var(--estiloDaFonte);
    font-size: 16px;
    padding: 10px;
}

#conteudoPrincipal {
    background-color: var(--corDeFundo);
}

#section1DoConteudoPrincipal {
    background-color: var(--corDeFundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 161px;
    padding-bottom: 150px;
}

#h1DoSection1DoConteudoPrincipal {
    color: var(--corDaLetra);
    font-family: var(--estiloDaFonte);
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#pDoSection1DoConteudoPrincipal {
    color: var(--corDaLetra);
    font-family: var(--estiloDaFonte);
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#aDoSection1DoConteudoPrincipal {
    background-color: var(--corDeDestaque);
    color: var(--corDaLetra);
    text-decoration: none;
    font-family: var(--estiloDaFonte);
    font-size: 20px;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 15px;
}

#section2DoConteudoPrincipal {
    background-color: var(--corDeFundo);
}

#divDeTudoDaSection2DoConteudoPrincipal {
    margin-left: 85px;
    margin-right: 85px;
}

#divDosButtonsDaSection2DoConteudoPrincipal {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom-style: solid;
    border-color: #000032;
    border-bottom-width: 1px;
}

.buttonsDaSection2DoConteudoPrincipal {
    background-color: var(--corDeFundo);
    color: var(--corDaLetra);
    font-family: var(--estiloDaFonte);
    font-size: 22px;
    font-weight: bold;
    border-width: 0px;
    padding: 50px;
}

#buttonFormacao {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--corDeDestaque);
}

#divDopDaSection2DoConteudoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

#pDaSection2DoConteudoPrincipal {
    color: var(--corDaLetra);
    font-family: var(--estiloDaFonte);
    font-size: 22px;
    margin-top: 25px;
}

/*#rodape{
}*/

#rodape {
    background-color: var(--corDeFundo);
    display: flex;
    justify-content: end;
}

#whatsaapBussines {
    margin-right: 10px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}

