#rodape {
    background-color: var(--corDeFundo);
    display: flex;
    justify-content: end;
}

#whatsaapBussines {
    margin-right: 10px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}
