#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#h1-header {
    color: var(--geral-color);
    font-family: Impact;
    font-size: var(--header-h1-font-size);
    text-decoration: none;
}

#ulDoNavDocabecalho {
    list-style: none;
    display: flex;
}

.asDosLisdoUlDoNavDoCabecalho {
    color: var(--geral-color);
    font-family: var(--header-fonte-family);
    font-size: var(--header-p-font-size);
    text-decoration: none;
    padding: 10px;
}