header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #000043;
    box-shadow:antiquewhite;
}


#h1-header {
    color: var(--geral-color);
    font-family: Impact;
    font-size: var(--header-h1-font-size);
    text-decoration: none;
}

#ul-nav-header {
    list-style: none;
    display: flex;
}

.a-li-ul-nav-header {
    color: var(--geral-color);
    font-family: var(--header-fonte-family);
    font-size: var(--header-p-font-size);
    text-decoration: none;
    padding: 10px;
}

