#section-um-main {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

#h1-section-um-main {
    color: var(--geral-color);
    font-family: var(--main-font-family);
    font-size: var(--main-h1-font-size);
    margin-bottom: 0.5rem;
    margin-top: 0px;
}

#p-section-um-main {
    color: var(--geral-color);
    font-family: var(--main-font-family);
    font-size: var(--main-p-font-size);
    margin-bottom: 0.5rem;
    margin-top: 0;
}

#a-section-um-main  {
    color: var(--geral-color);
    font-family: var(--main-font-family);
    font-size: var(--main-a-font-size);
    text-decoration: none;
    
    border: solid 1px var(--geral-color-border);
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 90px;
    padding-right: 90px;
    height: 1rem;
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
}




