#main {
    background-color: var(--corDeFundo);
}

#section-um-main {
    background-color: var(--corDeFundo);
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 150px;
}

#h1-section-um-main {
    color: var(--corDaLetra);
    font-family: var(--estiloDaFonte);
    font-size: var(--h1-font-size);
    margin-top: 0px;
    margin-bottom: 10px;
}

#p-section-um-main {
    color: var(--corDaLetra);
    font-family: var(--estiloDaFonte);
    font-size: var(--p-font-size);
    margin-top: 10px;
    margin-bottom: 10px;
}

#a-section-um-main  {
    color: var(--corDaLetra);
    text-decoration: none;
    text-align: center;
    font-family: var(--estiloDaFonte);
    font-size: 20px;
    border: solid 1px var(--corDaLetra);
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 15px;
    width: 150px;
}




